.emoji_grid__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.emoji-grid__toolbar {
  padding: 1em;
}
.emoji_paint__grid {
  border-collapse: collapse;
  border-radius: 5px;
  tr > td {
    border: 1px solid lightgray;
    text-align: center;
    padding: 0;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }
  }
}

.emoji-grid__controls {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-top: 0.75rem;
}

button.emoji-grid__control {
  border-radius: 4px;
  border: 1px solid #aaa;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin-right: 10px;
  overflow: hidden;
  padding: 0.75rem;
  min-width: 5rem;
  width: auto;
  color: #353535;
  &:last-child {
    margin-right: 0;
  }
  &:disabled {
    color: #d2d2d2;
  }

  &.btn_green {
    background-color: green;
    border-color: green;
    color: white;
    &[disabled] {
      color: white;
      background-color: lightgrey;
      border-color: lightgrey;
    }
  }
}
